<header>
    <nav>
        <a href="/">Course Management</a>
        <ul>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/courses/new">Add Course</a></li>
        </ul>
    </nav>
</header>